js/Untitled-1.xml

<!ELEMENT person (firstname, lastname)>
<!ATTLIST person gender CDATA #REQUIRED>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>

<person gender="female">
  <firstname>Anna</firstname>
  <lastname>Smith</lastname>
</person>

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstname" type="xs:string"/>
        <xs:element name="lastname" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="gender" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>