ht/employee.xsd

<?xml version = "1.0" encoding = "UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employee_info" >
    <xs:complexType>
      <xs:sequence>
	     <xs:element name="emp" maxOccurs="2">
			<xs:complexType>
			  <xs:sequence>
					<xs:element name="empid" type="xs:integer" />
					<xs:element name="empname" type="xs:string" />
					<xs:element name="empsalary" type="xs:unsignedInt" />
					<xs:element name="empjob" type="xs:string" />
			  </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>